.App {
    text-align: center;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    overflow-y: scroll;
    background-image: url("https://res.cloudinary.com/dum4u7sro/image/upload/v1625538141/1_jK1ccrfiP44opdm9VZixmA_k61wt2.jpg");
    background-position: center;
    background-size: cover;
}
.home-container {
    background-color: rgba(0, 0, 0, 0);
}
.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px;
}
.card {
    width: 150px;
}
.card-selected {
    width: 150px;
    background-color: rgba(40, 40, 40, 0, 0.8);
    box-shadow: 2px 2px 10px rgba(40, 40, 40, 0, 0.8);
}

.order-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.header-text {
    font-family: "Encode Sans SC", sans-serif;
    font-size: 20px;
    color: #ffffff;
}

.status-text {
    text-align: left;
}
